body{
  font-family: 'Roboto', sans-serif;
  background: white;
  }

h2 {
  margin: 20px;
}


  input[type=text] {
    width: 180px;
    height: 22px;
    color: #cecece;
    margin: 15px 15px 15px 20px;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px 15px;
  }


  input[type=submit] {
    width: 173px;
    background-color: #fb4381;
    color: white;
    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
